# Node.js backend ignores
Server/node_modules/
Server/npm-debug.log*
Server/dist/

# IDEs
.idea/
.vscode/

# Client ignores
Client/[Ll]ibrary/
Client/[Tt]emp/
Client/[Oo]bj/
Client/[Bb]uild/
Client/[Bb]uilds/
Client/[Ll]ogs/
Client/[Uu]ser[Ss]ettings/
Client/[Mm]emoryCaptures/
Client/[Rr]ecordings/
Client/[Aa]ssets/AssetStoreTools*
Client/[Aa]ssets/Plugins/Editor/JetBrains*
Client/.idea/
Client/.vs/
Client/.gradle/
Client/ExportedObj/
Client/.consulo/
Client/*.csproj
Client/*.unityproj
Client/*.sln
Client/*.suo
Client/*.tmp
Client/*.user
Client/*.userprefs
Client/*.pidb
Client/*.booproj
Client/*.svd
Client/*.pdb
Client/*.mdb
Client/*.opendb
Client/*.VC.db
Client/*.pidb.meta
Client/*.pdb.meta
Client/*.mdb.meta
Client/sysinfo.txt
Client/*.apk
Client/*.aab
Client/*.unitypackage
Client/*.app
Client/crashlytics-build.properties
Client/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Client/[Aa]ssets/[Ss]treamingAssets/aa.meta
Client/[Aa]ssets/[Ss]treamingAssets/aa/*
Client/Assets/JohnFarmer/Keyboard Keys & Mouse Sprites/PSB File/
Client/.idea
Client/*.sln.iml
